---
const today = new Date();
---

<footer class="py-12 text-center text-sm text-zinc-500">
  <div class="container-compact">
    &copy; {today.getFullYear()} opik.dev. Built with Astro & Tailwind.
  </div>
</footer>
